<h2> Type List</h2>
<table class = "table table-striped">
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th> ID </th>
                    <th> Type </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let typereclamation of type">
                    <td> {{ typereclamation.type_id }} </td>
                    <td> {{ typereclamation.type }} </td>
                    <td>
                        <button (click)="delete(typereclamation.type_id)" class="btn btn-link">
                          <i class="fas fa-user-shield mr-1" style="color: red;"></i>Delete
                        </button>
                      </td>                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
