<header>
  <div class="container">
    <h1>Courzelo</h1>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li *ngIf="user && user.roles && user.roles.includes('ROLE_SUPERADMIN')"><a routerLink="/superAdmin">Admin</a></li>
        <li *ngIf="user"><a routerLink="/settings/profile">Profile</a></li>
        <li *ngIf="!user"><a routerLink="/login">Login</a></li>
        <li *ngIf="!user"><a routerLink="/signup">Signup</a></li>
        <li *ngIf="user"><a routerLink="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>
