<!-- Add University Form -->
<div class="row">
    <div class="col-xl-12 mx-auto">
        <form [formGroup]="formGroup" class="row mb-2">

            <div class="row">
                <div class="col-md-4">
                    <label for="name">Nom de publication</label>
                    <input type="text" class="form-control" id="name" name="name" formControlName="name" required>
                </div>

                <div class="col-md-4">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" formControlName="description"
                        required>
                </div>

                <div class="col-md-4">
                    <label for="userId">userId</label>
                    <input type="text" class="form-control" id="userId" name="userId"
                        formControlName="userId" required>
                </div>
                <div class="col-md-4">
                  <form [formGroup]="formGroupPhoto">
                    <label for="img" class="form-label">image</label>
                    <div class="position-relative">
                        <input type="file" class="form-control" id="img" placeholder="photo"
                            (change)="onSelectedFile($event)" type="file" formControlName="img"
                            accept=".jpg, .jpeg, .png, .gif"
                           required />

                    </div>
                </form>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" (click)="add()">Ajouter</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>

        </form>
    </div>
</div>
<!-- /.card -->
