<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Devices Table</h3>
          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input class="form-control float-right" name="table_search" placeholder="Search" type="text">

              <div class="input-group-append">
                <button class="btn btn-default" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
            <tr>
              <th>ID</th>
              <th>Device</th>
              <th>Last Login</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let device of deviceDTOS">
              <td>{{ device.id }}</td>
              <td>{{ device.deviceDetails }}</td>
              <td>{{ device.lastLoggedIn }}</td>
              <td>
                <button (click)="deleteDevice(device.id!)" class="btn btn-danger btn-sm">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <app-pagination
          (pageChanged)="onPageChange($event)"
          [totalPages]="totalPages">
        </app-pagination>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div><!-- /.container-fluid -->
