<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card comman-shadow">
      <div class="card-body">
        <form [formGroup]="editDepartFormGroup" (submit)="handleUpdateDepart()">
          <div class="row">
            <div class="col-12">
              <h5 class="text-center form-title student-info">Information about Departments</h5>
            </div>
            <div class="col-12">
              <div class="form-group local-forms d-flex align-items-center justify-content-center">
                <label for="name" class="mr-2">Name <span class="login-danger">*</span></label>
                <input id="name" class="form-control form-control-sm" type="text" formControlName="name" />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group local-forms d-flex align-items-center justify-content-center">
                <label for="chefDepartment" class="mr-2">Chef Department <span class="login-danger">*</span></label>
                <input id="chefDepartment" class="form-control form-control-sm" type="text" formControlName="chefDepartment" />
              </div>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
