<app-header></app-header>
<h2> Les Reclamations</h2>
<table class = "table table-striped">
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                  <tr>
                   <!-- <th> ID </th>-->
                    <th> sujet </th>
                    <th> details </th>
                    <th> dateCreation </th>
                    <th> Type </th>
                    <th> status </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let reclamation of reclamation">
                  <!--  <td> {{ reclamation.id }} </td>-->
                    <td> {{ reclamation.sujet }} </td>
                    <td> {{ reclamation.details }} </td>
                    <td> {{ reclamation.dateCreation }} </td>
                    <td> {{ reclamation.type.type }} </td>
                    <td> {{ reclamation.status }} </td>
                    <td>
                     <!--   <button (click)="delete(reclamation.id)" class="btn btn-danger btn-block">Delete
                        </button>
                      </td>  -->
                      <td>   
                        <button mat-raised-button color="green" (click)="update(reclamation.id)" class="btn btn-primary btn-block">
                        Modifier 
                      </button></td>
                      <td>
                      <button mat-flat-button color="primary" (click)="Affecter(reclamation.id)" class="btn btn-primary btn-block">
                        Affecter  
                      </button>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
<app-footer></app-footer>