<!-- Add University Form -->
<div class="row">
    <div class="col-xl-12 mx-auto">
        <form [formGroup]="formGroup" class="row mb-2">

            <div class="row">
                <div class="col-md-4">
                    <label for="name">Nom de l'université</label>
                    <input type="text" class="form-control" id="name" name="name" formControlName="name" required>
                </div>

                <div class="col-md-4">
                    <label for="location">Localisation</label>
                    <input type="text" class="form-control" id="location" name="location" formControlName="location"
                        required>
                </div>

                <div class="col-md-4">
                    <label for="location">Description</label>
                    <input type="text" class="form-control" id="description" name="description"
                        formControlName="description" required>
                </div>

                <div class="col-md-4">
                    <label for="location">Web site</label>
                    <input type="text" class="form-control" id="website" name="website" formControlName="website"
                        required>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" (click)="add()">Ajouter</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>

        </form>
    </div>
</div>
<!-- /.card -->