<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
  <!--  <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
    <span class="brand-text font-weight-light">Dashboard</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="#" class="nav-link ">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Assignement & Course
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <!--<li class="nav-item">
              <a  [routerLink]="['/principleDashboard/assignemt/ListAssignement']" class="nav-link">

                <p>Assignement</p>
              </a>
            </li>-->
            <li class="nav-item">
              <a  [routerLink]="['/principleDashboard/assignemt/ListCourses']" class="nav-link">

                <p>Course</p>
              </a>
            </li>
            <!--<li class="nav-item">
              <a  [routerLink]="['/home/admin/suiviSessions']" class="nav-link">

                <p>CourseContent </p>
              </a>
            </li>-->
          </ul>
        </li>

        <li class="nav-item menu-open">
          <a href="#" class="nav-link ">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Exams
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a  [routerLink]="['/principleDashboard/assignemt/listExams']" class="nav-link">

                <p>Liste Exams</p>
              </a>
            </li>
            <!--<li class="nav-item">
              <a  [routerLink]="['/home/admin/suiviSessions']" class="nav-link">

                <p>CourseContent </p>
              </a>
            </li>-->
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
