<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link" routerLink="/">
    <img alt="AdminLTE Logo" class="brand-image img-circle elevation-3" src="dist/img/AdminLTELogo.png"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Courzelo</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img alt="User Image" class="img-circle elevation-2" [src]="userPhotoUrl">
      </div>
      <div class="info">
        <a class="d-block" routerLink="/profile">{{fullName}}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input aria-label="Search" class="form-control form-control-sidebar" placeholder="Search" type="search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
        <li class="nav-item menu-open">
          <a class="nav-link" routerLink="/" routerLinkActive="active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              User
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li *ngIf="auth" class="nav-item">
              <a class="nav-link" routerLink="/profile" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>Profile</p>
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="userRoles && userRoles.includes('ROLE_SUPERADMIN')" class="nav-item menu-open">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              SuperAdmin
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/institutions" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>Institutions</p>
              </a>
            </li>
            <li  class="nav-item">
              <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>Users</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
