<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a routerLink="/"><b>Cour</b>Zelo</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <!-- Notification area -->
    <div *ngIf="messageSuccess" class="alert alert-success alert-dismissible">
      <button (click)="resetSuccessAlert()" class="close" type="button">×</button>
      {{ messageSuccess }}
    </div>
    <div *ngIf="messageError" class="alert alert-danger alert-dismissible">
      <button (click)="resetErrorAlert()" class="close" type="button">×</button>
      {{ messageError }}
    </div>
    <div class="card-body login-card-body">
      <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>

      <form (ngSubmit)="recoverPassword()" [formGroup]="passwordForm">
        <div class="input-group mb-3">
          <div *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password']?.invalid"
               class="text-danger">
            Password must be at least 8 characters and maximum 50 characters
          </div>
          <input class="form-control" formControlName="password" placeholder="Password" type="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <div *ngIf="passwordForm.controls['confirmPassword'].errors?.['confirmedValidator']"
               class="text-danger">
            Passwords must match
          </div>
          <input class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" type="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary btn-block" type="submit">Change password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mt-3 mb-1">
        <a routerLink="/login">Login</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</body>
