<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a routerLink="/"><b>Cour</b>Zelo</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <!-- Notification area -->
    <div *ngIf="messageSuccess" class="alert alert-success alert-dismissible">
      <button (click)="resetSuccessAlert()" class="close" type="button">×</button>
      {{ messageSuccess }}
    </div>
    <div *ngIf="messageError" class="alert alert-danger alert-dismissible">
      <button (click)="resetErrorAlert()" class="close" type="button">×</button>
      {{ messageError }}
    </div>
    <div class="card-body login-card-body">
      <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

      <form (ngSubmit)="forgotPassword()" [formGroup]="passwordForm">
        <div *ngIf="passwordForm.controls.email.touched && passwordForm.controls.email?.invalid"
             class="text-danger">
          Email must be valid
        </div>
        <div class="input-group mb-3">
          <input class="form-control" formControlName="email" placeholder="Email" type="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary btn-block" type="submit">Request new password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mt-3 mb-1">
        <a routerLink="/login">Login</a>
      </p>
      <p class="mb-0">
        <a class="text-center" routerLink="/signup">Register a new membership</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</body>
