    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Liste des universités</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Liste des universités</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
      <div class="container-fluid">
        <!-- Table -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="card-tools">
                  <button type="button" data-target=".bs-example-modal-lg-add" data-toggle="modal"   (click)="Add()" class="btn btn-primary">Ajouter une université</button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nom</th>
                      <th>Emplacement</th>
                      <th>Description</th>
                      <th>Site Web</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Ajouter des lignes pour chaque université -->
                    <tr *ngFor="let item of dataSource; let i = index">
                      <td>{{item.id}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.location}}</td>
                      <td>{{item.description}}</td>
                      <td><a href="http://www.universiteabc.com">{{item.website}}</a></td>
                      <td>
                        <button class="btn btn-info" data-target=".bs-example-modal-lg-edit" data-toggle="modal" (click)="openDialogedit(item)">Modifier</button>
                        <button class="btn btn-danger"  (click)="Delete(item.id)" >Supprimer</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
     
    <!-- /.content -->
  </div>
  

<div class="modal fade bs-example-modal-lg-add" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Ajout université</h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-university></app-add-university>

      </div>
  

    </div>
  </div>
</div>



<div class="modal fade bs-example-modal-lg-edit" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit université</h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-edit-university [data]="data"></app-edit-university>

      </div>
   

    </div>
  </div>
</div>